@charset "UTF-8";
body {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-image: url(../image/イラスト36.jpg);
  font-weight: bold;
}
ul {
  list-style: none;
  padding-left: 1em;
}
vo {
  color: red;
}
ju {
  color: blue;
  font-weight: bold;
}
acc {
  font-weight: bold;
  color: tomato;
}
acc::before {
  content: "[";
}
acc::after {
  content: "]";
}
v {
  font-weight: bold;
  color: green;
}
cr {
  color: gray;
}
.aside {
  font-size: small;
  color: gray;
}
.aside::before {
  content: "※";
}
